services:
  app:
    build:
      context: .
      target: production
    container_name: penjadwalan-app
    restart: unless-stopped
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_ENV=production
      - APP_DEBUG=false
      - DISABLE_LOGIN=false

volumes:
  caddy_data:
  caddy_config:
